@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$base-green: rgb(0, 197, 0);

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Global Styles */

p {
  font-weight: 400;
  color: #202020;
  margin-top: 1rem;
}

body {
  letter-spacing: 1px;
  min-height: 1000px;
}

section {
  padding: 2rem;
}

.btn {
  font-size: 1rem;
  color: #ffffff;
  background: $base-green;
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 800;
  transition: 0.5s;

  &:hover {
    letter-spacing: 0.5rem;
  }
}

/* Header Styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;

  .logo {
    color: #ffffff;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;

    span {
      color: $base-green;
    }
  }

  .navigation {
    position: relative;
    display: flex;

    li {
      list-style: none;
      margin-left: 3rem;

      a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
}

/* Sticky Header Styles */

header.sticky .navigation li a {
  color: #202020;
  &:hover {
    text-decoration: underline;
    color: green;
  }
}

.sticky {
  padding: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  background: #ffffff;

  .logo {
    color: #202020;
  }
}

/* Banner Styles */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/Images/vegpizza.jpg);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;

  h2 {
    font-size: 4rem;
    color: #ffffff;

    span {
      padding: 1rem;
      display: inline-block;
      font-weight: 700;
      color: $base-green;
      background: white;
    }
  }

  p {
    font-size: 1rem;
    color: #ffffff;
    margin: 2rem 0;
  }
}

/* About Banner Styles */
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .col50 {
    position: relative;
    width: 48%;

    .titleText {
      color: #202020;
      font-size: 2rem;
      font-weight: 600;

      span {
        color: $base-green;
        font-size: 3rem;
        font-weight: 800;
      }
    }
  }
}

.row .imgBx {
  position: relative;
  width: 100%;
  height: 300px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .titleText {
    color: #202020;
    font-size: 2rem;
    font-weight: 600;

    span {
      color: $base-green;
      font-size: 3rem;
      font-weight: 800;
    }
  }
}

/* Menu Section Styles */

.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);

  .imgBx {
    position: relative;
    width: 100%;
    height: 300px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    padding: 15px 0 5px;

    h3 {
      color: #202020;
    }
  }
}

/* Chef Showcase Section Styles */

.chef .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3rem;
}

.chef .content .box {
  width: 250px;
  margin: 15px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);

  .text {
    padding: 15px 0 5px;

    h3 {
      font-weight: 500;
    }
  }

  .imgBx {
    position: relative;
    width: 100%;
    height: 300px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Testimonials Section Styles */

.testmonials {
  background: url(/Images/pexels-lukas-616401.jpg);
  background-size: cover;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
  }
}
