@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Global Styles */
p {
  font-weight: 600;
  color: #202020;
  margin-top: 1rem;
}

body {
  letter-spacing: 1px;
  min-height: 100%;
}

section {
  padding: 2rem;
}

.btn {
  font-size: 1rem;
  color: #ffffff;
  background: #00c500;
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 800;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 0.5rem;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #202020;
  border-bottom: 10px solid #00c500;
  /* Nav Styles */
}

header .logo {
  color: #ffffff;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
}

header .logo span {
  color: #00c500;
}

header .navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 3rem;
}

header .navigation li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

header .navigation li a:hover {
  color: #00c500;
}

/* Sticky Header Styles */
header.sticky .navigation li a {
  color: #ffffff;
}

header.sticky .navigation li a:hover {
  text-decoration: none;
  color: #00c500;
}

.sticky {
  padding: 1rem;
  background: #202020;
}

.sticky .logo {
  color: #ffffff;
}

/* Banner Styles */
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/Images/vegpizza.jpg);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
  margin-top: 125px;
  background: #202020;
  border: 5px solid #00c500;
  padding: 2rem;
}

.banner .content h2 {
  font-size: 4rem;
  color: #ffffff;
}

.banner .content h2 span {
  padding: 1rem;
  display: inline-block;
  font-weight: 700;
  color: #00c500;
  background: white;
}

.banner .content p {
  font-size: 1rem;
  color: #ffffff;
  margin: 2rem 0;
}

/* About Banner Styles */
.row {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.row .col50 .titleText {
  color: #202020;
  font-size: 2rem;
  font-weight: 600;
}

.row .col50 .titleText span {
  color: #00c500;
  font-size: 3rem;
  font-weight: 800;
}

.row .imgBx {
  position: relative;
  width: 100%;
  height: 400px;
}

.row .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title .titleText {
  color: #202020;
  font-size: 2rem;
  font-weight: 600;
}

.title .titleText span {
  color: #00c500;
  font-size: 3rem;
  font-weight: 800;
}

/* Menu Section Styles */
.menu .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
}

.content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
}

.content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .box .text {
  padding: 15px 0 5px;
}

.content .box .text h3 {
  color: #202020;
}

/* Chef Showcase Section Styles */
.chef .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3rem;
}

.chef .content .box {
  width: 250px;
  margin: 15px;
  border: 15px solid #fff;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
}

.chef .content .box .text {
  padding: 15px 0 5px;
}

.chef .content .box .text h3 {
  font-weight: 500;
}

.chef .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.chef .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Testimonials Section Styles */
/*# sourceMappingURL=mainstyles.css.map */