@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$base-green: rgb(0, 197, 0);
/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Global Styles */

p {
  font-weight: 600;
  color: #202020;
  margin-top: 1rem;
}

body {
  letter-spacing: 1px;
  min-height: 100%;
}

section {
  padding: 2rem;
}

.btn {
  font-size: 1rem;
  color: #ffffff;
  background: $base-green;
  display: inline-block;
  padding: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 800;
  transition: 0.5s;

  &:hover {
    letter-spacing: 0.5rem;
  }
}

/* Header Styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background: #202020;
  border-bottom: 10px solid $base-green;

  .logo {
    color: #ffffff;
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;

    span {
      color: $base-green;
    }
  }

  /* Nav Styles */

  .navigation {
    position: relative;
    display: flex;

    li {
      list-style: none;
      margin-left: 3rem;

      a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;

        &:hover {
          color: $base-green;
        }
      }
    }
  }
}

/* Sticky Header Styles */

header.sticky .navigation li a {
  color: #ffffff;
  &:hover {
    text-decoration: none;
    color: $base-green;
  }
}

.sticky {
  padding: 1rem;
  background: #202020;

  .logo {
    color: #ffffff;
  }
}

/* Banner Styles */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/Images/vegpizza.jpg);
  background-size: cover;

  .content {
    max-width: 900px;
    text-align: center;
    margin-top: 125px;
    background: #202020;
    border: 5px solid $base-green;
    padding: 2rem;
    h2 {
      font-size: 4rem;
      color: #ffffff;

      span {
        display: inline-block;
        color: $base-green;
      }
    }

    p {
      font-size: 1rem;
      color: #ffffff;
      margin: 2rem 0;
    }
  }
}

/* About Banner Styles */
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .col50 {
    position: relative;
    width: 48%;

    .titleText {
      color: #202020;
      font-size: 2rem;
      font-weight: 600;

      span {
        color: $base-green;
        font-size: 3rem;
        font-weight: 800;
      }
    }
  }
}

.row .imgBx {
  position: relative;
  width: 100%;
  height: 400px;
  box-shadow: 0 5px 35px $base-green;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .titleText {
    color: #202020;
    font-size: 2rem;
    font-weight: 600;

    span {
      color: $base-green;
      font-size: 3rem;
      font-weight: 800;
    }
  }
}

/* Menu Section Styles */
.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 10px 35px $base-green;

  .imgBx {
    position: relative;
    width: 100%;
    height: 300px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    padding: 15px 0 5px;

    h3 {
      color: #202020;
    }
  }
}

/* Chef Showcase Section Styles */

.chef .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3rem;
}

.chef .content .box {
  width: 250px;
  margin: 15px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px $base-green;

  .text {
    padding: 15px 0 5px;

    h3 {
      font-weight: 500;
    }
  }

  .imgBx {
    position: relative;
    width: 100%;
    height: 300px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Testimonials Section Styles */

.testimonials {
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;

    .box {
      width: 340px;
      margin: 20px;
      padding: 40px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 5px 35px $base-green;

      .stars {
        margin-top: 2rem;
      }

      .imgBx {
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        text-align: center;

        h3 {
          margin-top: 2rem;
          color: $base-green;
        }

        p {
          font-weight: 500;
          font-style: italic;
        }
      }
    }
  }
}

/* Contact form Styles */

.contactForm {
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 5px 35px $base-green;
  max-width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  h3 {
    color: #202020;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    input,
    textarea {
      width: 100%;
      border: 1px solid $base-green;
      padding: 10px;
      color: #202020;
      outline: none;
      resize: none;
    }

    input[type="submit"] {
      font-size: 1.5rem;
      font-weight: 600;
      color: #ffffff;
      background: $base-green;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.5s;
      cursor: pointer;
      border: none;
    }
  }
}

.copyright {
  padding: 1rem;
  background: $base-green;
  text-align: center;
  p {
    color: #ffffff;
  }
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 0.5rem;
  }

  /* Side Menu Mobile Styles */
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/Images/toggle.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10000000;
  }

  .menuToggle.active {
    background: url(/Images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: 50%;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #202020;
    border-bottom: 5px solid $base-green;
  }
  header .navigation.active li {
    margin-left: 0;
    padding-top: 1rem;
    line-height: 2rem;
  }

  header .navigation.active li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;

    &:active {
      background: $base-green;
      color: white;
      padding: 1rem;
    }
  }

  /* Header media query styles */
  .banner .content h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  /* About media query styles */

  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
  }

  .row .col50 .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 2rem;
  }

  /* Menu media query styles */

  .menu .title {
    text-align: center;
  }

  .menu .box {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
  }

  /* Chefs section media queries */

  .chef .titleText {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .chef p {
    text-align: center;
  }

  .chef .content .box {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
  }

  /* Testimonial media queries */

  .testimonials .titleText {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .testimonials p {
    text-align: center;
  }

  .testimonials .content .box {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
  }
}
